<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {756, 1106}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-04-07 16:05:46 +0000</string>
	<key>Creator</key>
	<string>Joseph G Briggs</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>7113D4B2-A441-43B7-B0DD-7B0F2334AF60-24836-00014AAA7EA8413C</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.24344008840413844, -0.50000000000000011}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.50000000000000011}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.48270893371757922}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.26113387541074962, -0.48270893371757922}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.26113387541074962, 0.43659942363112392}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.48495414336802012, 0.43659942363112392}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.48495414336802012, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.49999999999999989, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.49999999999999989, 0.43083573487031701}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.30566937705374797, 0.43083573487031701}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.30566937705374797, 0.22334293948126793}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.49999999999999989, 0.22334293948126793}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.49999999999999989, 0.15417867435158494}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.3050673088008069, 0.15417867435158494}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.3050673088008069, -0.090778097982709138}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.49999999999999989, -0.090778097982709138}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.49999999999999989, -0.15994236311239202}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.30801627330190873, -0.15994236311239202}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.30801627330190873, -0.50000000000000011}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.29622041529750132, -0.50000000000000011}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.29622041529750132, -0.47694524495677248}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.24344008840413844, -0.47694524495677248}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.37289349232614966, 0.1974063400576368}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.48790310786912194, 0.1974063400576368}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.48790310786912194, 0.22046109510086453}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.37289349232614966, 0.22046109510086453}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.37289349232614966, 0.1974063400576368}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>46</integer>
			</dict>
			<key>ID</key>
			<integer>58</integer>
			<key>Points</key>
			<array>
				<string>{476.92357598839754, 887.4563702327132}</string>
				<string>{585.37303898806113, 922.37508277749657}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>45</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{585.53314208984375, 906.02725219726562}, {41, 46}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>46</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>45</integer>
			</dict>
			<key>ID</key>
			<integer>57</integer>
			<key>Points</key>
			<array>
				<string>{189.6480497670554, 712.94234891863505}</string>
				<string>{418.6910732494776, 860.3901295106507}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>44</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{409.53314208984375, 854.02725219726562}, {70, 46}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>45</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>53</integer>
			</dict>
			<key>ID</key>
			<integer>56</integer>
			<key>Points</key>
			<array>
				<string>{561.50621351569055, 792.55590713657739}</string>
				<string>{563.91059203705902, 736.99808616223152}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.501961</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>54</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>51</integer>
			</dict>
			<key>ID</key>
			<integer>55</integer>
			<key>Points</key>
			<array>
				<string>{397.56968956234289, 736.42988871551449}</string>
				<string>{479.05730898261663, 716.49134424893623}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.501961</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0.501961</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{544.2423095703125, 701}, {41, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>53</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.501961</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>CornerRadius</key>
					<real>10</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{481, 694}, {41, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>51</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.501961</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0.501961</string>
					</dict>
					<key>CornerRadius</key>
					<real>10</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{427, 577.94549560546875}, {264.24231896033655, 206.1090087890625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>49</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{423.53314208984375, 799.02725219726562}, {178, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>48</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>MiddleFraction</key>
					<real>0.0</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>3</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\sa240

\f0\fs24 \cf0 Motor connected to M2A and M2B on motor driver}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72, 588}, {178, 54}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>47</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>MiddleFraction</key>
					<real>0.0</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>3</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\sa240

\f0\fs24 \cf0 Pulse Wave Modulation for motor duty cycle on OC2B\
Direction signal on PC6 }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{91, 675}, {140, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>44</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{45.55633544921875, 631}, {348.1126708984375, 333}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>42</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{151, 354}, {98, 16}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>40</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>MiddleFraction</key>
					<real>0.0</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>3</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\sa240

\f0\fs26 \cf0 Orangutan SVP}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{447, 169}, {40, 16}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>39</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>MiddleFraction</key>
					<real>0.0</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>3</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\sa240

\f0\fs26 \cf0 Motor}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{564, 247}, {95, 16}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>38</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>MiddleFraction</key>
					<real>0.0</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>3</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\sa240

\f0\fs26 \cf0 Wheel Encoder}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>36</integer>
			<key>Points</key>
			<array>
				<string>{284, 155}</string>
				<string>{297, 167}</string>
				<string>{335, 167}</string>
				<string>{349, 153}</string>
				<string>{401, 153}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>35</integer>
			<key>Points</key>
			<array>
				<string>{284, 142}</string>
				<string>{300, 128}</string>
				<string>{334, 128}</string>
				<string>{351, 144}</string>
				<string>{405, 144}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.25098</string>
						<key>g</key>
						<string>0.501961</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Points</key>
			<array>
				<string>{267, 265}</string>
				<string>{297, 309}</string>
				<string>{547, 308}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>8</integer>
			<key>Points</key>
			<array>
				<string>{267, 253}</string>
				<string>{301, 302}</string>
				<string>{555, 301}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.00616406</string>
						<key>g</key>
						<string>0.896576</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>Points</key>
			<array>
				<string>{276, 254}</string>
				<string>{303, 294}</string>
				<string>{564, 293}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>Points</key>
			<array>
				<string>{284, 254}</string>
				<string>{305, 287}</string>
				<string>{564, 286}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{18, 18.000000000000057}, {339.10208129882812, 346.99999999999994}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>33</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>7113D4B2-A441-43B7-B0DD-7B0F2334AF60-24836-00014AAA7EA8413C</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{350, 109}, {320.08929443359375, 239}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>41</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{43.1126708984375, 577.94549560546875}, {353, 404.05450439453125}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>50</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.501961</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0.501961</string>
					</dict>
					<key>CornerRadius</key>
					<real>10</real>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{417.53314208984375, 794.05450439453125}, {276.17608642578125, 268.97274780273438}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>54</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.501961</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>CornerRadius</key>
					<real>10</real>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{432.53314208984375, 799.02725219726562}, {276.17608642578125, 264}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>43</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>9</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image8.jpg</string>
		<string>image7.tiff</string>
		<string>image6.tiff</string>
		<string>image5.tiff</string>
		<string>image1.jpg</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-04-13 18:08:42 +0000</string>
	<key>Modifier</key>
	<string>Joseph G Briggs</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{792, 612}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>2</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{165, 157}, {1007, 721}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-58, 524}, {872, 582}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
